@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background-color: #140047;
  color: #fff;
  font-family: "Rubik", sans-serif;
  /* font-family: 'Space Grotesk', sans-serif; */
}

/* .nav-div{
    background-color: rgba(1, 255, 255, 1);
     height: 100%;

} */


.nav-bar-main {
  background-color: aqua;
}
.navbar-brand {
  font-size: 1.7rem;
  font-weight: 800;
}
.nav-item {
  font-size: 1.2rem;
}
nav .navbar-nav li a {
  color: white !important;
}
.emergency-btn {
  padding: 12px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #232ace;
  margin-left: 2rem;
}
.emergency-btn:hover {
  background-color: #232ace;
  transition: 500ms;
  color: #fff;
}

.main-img {
  width: 55rem;
  
}
.maintext {
margin: 10% auto 15%;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 10vw;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  text-shadow:  40px 12px 6px rgba(0,0,0,0.42);

}

.details-set {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  top: -7rem;
  padding: 5%;
  background: rgb(35,42,206);
  background: linear-gradient(123deg, rgba(35,42,206,1) 0%, rgba(20,0,71,1) 100%);
border-radius: 20px;
-webkit-box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.67); 
box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.67); 
; 
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3.4rem;
  font-weight: 800;
}

.confirmed-cases{
  color: #F8C033;
  text-shadow: 0px 5px 10px rgba(183, 135, 66, 0.4);
}
.deaths{
  color: #CC0000;
  text-shadow: 0px 5px 10px rgba(204, 0, 0, 0.4);

}

.recovered{
  color: #61CC00;
  text-shadow: 0px 5px 10px rgba(97, 204, 0, 0.4);

}

.about-what{
  color: #5EF7EC;
}

.about-main{
  color: #fff; 
  font-size: 2.5rem;

}

.about-side{
  margin-top:8%;

}

.about-info{
  line-height: 2;
}


/* Hospital Details  */

.hostital-details-text{
  margin: 10% auto;
}

th,td{
  color: #fff;
}

.fa-heart{
  color: #CC0000;
}
.usrname{
  color: #fff;
}
.usrname:hover{
  color: #fff;
  text-decoration: none;
}

footer{
  margin-bottom: 2%;

}

/* media screen  */

@media (max-width: 991px) {
  .top-image {
    display: none;
  }
  .maintext {
    margin: 10% auto;
  }
  h1 {
    font-size: 5rem;
  }
  .details-set {
    position: static;
  }
}


@media(max-width:767px){
  .details-set {
    margin: auto 2px;
    margin-bottom: 15%;
  }


  #myChart{
    height: 1000px;

}
}
