<section class="about" id="about">
    <div class="container">
<h3 class="text-center">About</h3>

      <div class="row">
        <div class="col-lg-6 about-side">
          <h4 class="about-what">WHAT YOU NEED TO KNOW</h4>
          <h3 class="about-main">CORONAVIRUS COVID-19</h3>
          <h5 class="about-info"><i class="fas fa-greater-than"></i> COVID-19 is the disease caused by the new coronavirus that emerged in China in December 2019.</h5>
          <h5 class="about-info"><i class="fas fa-greater-than"></i> The new coronavirus can be spread from person to person. It is diagnosed with a laboratory test.</h5>
          <h5 class="about-info"><i class="fas fa-greater-than"></i> COVID-19 symptoms include cough, fever or chills, shortness of breath or difficulty breathing, muscle or body aches, sore throat, new loss of taste or smell, diarrhea, headache, new fatigue, nausea or vomiting and congestion or runny nose. COVID-19 can be severe, and some cases have caused death.</h5>
       
        </div>
        <div class="col">
          <img src="/images/—Pngtree—white angel hospital angel nurse_3813136.png" class="img-fluid  main-img">
        </div>
      </div>

    </div>
  </section>